<html ng-app="app">
  <head>
  <link rel="shotcut icon" type="image/ico" href="../../assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css" />
  <title> sleazy sounds </title>
  </head>
  <body ng-controller="test">
    {{test}}
    <script> 
		  angular.module('app').controller('test', function($scope)
			 { console.log($scope); $scope.test = 'HELLO'});
    </script>
    <script src="http://api.soundcloud.com/tracks/13158665.json?client_id=0a3ed6b878677694faa3a0067c36d52c"></script>
  </body>
</html>