 <html ng-app="app">
   <head> 
   <script src="//connect.soundcloud.com/sdk.js"></script>
   <title> sleazy sounds </title>
   </head>
   <body ng-controller="test">
   <a href="{{permalink_url}}" target="_"> song</a>
   <ul id="player"></ul>
       </body>
</html>