 <html ng-app="app">
   <head> 
   <script src="//connect.soundcloud.com/sdk.js"></script>
   <title> sleazy sounds </title>
   </head>
   <body ng-controller="test" ng-submit="activateSearch()">
    	  <form id="searchingForm">
        <input type="text" ng-model="toSearchTemp">
        <button type="submit"> Search </button>
        <br>
      </form>
   <!-- <a href="{{permalink_url}}" target="_"> song</a> -->
   <ul id="wrapper"></ul>
   </body>
</html>