 <html ng-app="app">
   <head> 
   <script src="//connect.soundcloud.com/sdk.js"></script>
   <title> sleazy sounds </title>
   </head>
   <body ng-controller="test">
    	  <form id="searchingForm" ng-submit="activateSearch()">
        <input type="text" ng-model="toSearchTemp">
        <button type="submit"> Search </button>
        <br>
      </form>
   <ul id="wrapper" ng-repeat="song in list">
  <li>
  <a ng-href="{{song.permalink_url}}">{{song.title}}</a>
   </li>


     </ul>
   </body>
</html>