<html ng-app="sleazySound">
<head>
</head>
<body>
<p ng-controller="testCtrl"> {{ test.name }} </p>
</body>
<script src="../assets/javascripts/application.js"></script>
<script src="../assets/javascripts/angular-app/app.js"></script>
<script src="../assets/javascripts/angular-app/controllers/testCtrl.js"></script>
</html>