 <html lang="en" ng-app="app">
   <head> 
   <script src="//connect.soundcloud.com/sdk.js"></script>
   <title> sleazy sounds </title>
   </head>
   <body ng-controller="test">
    	  <form id="searchingForm" ng-submit="activateSearch()">
        <input type="text" ng-model="toSearch">
        <button type="submit"> Search </button>
        <!-- ng-model="searchTerm" ng-change="doSearch() -->
        <br>
      </form>
   <a href="{{permalink_url}}" target="_"> song</a>
   <ul id="player"></ul>
       </body>
</html>