<html ng-app="app">
<head>
</head>
<body ng-controller="test">
{{test}}
</body>
<script> 
		angular.module('app').controller('test', function($scope)
			{ console.log($scope); $scope.test = 'HELLO'});
</script>
</html>