 <html lang="en" ng-app="app">
   <head> 
   <script src="//connect.soundcloud.com/sdk.js"></script>
   <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
   <title> sleazy sounds </title>
   </head>
   <body ng-controller="search">
   <center>

   <header>
   <h2>Sleazy <%= image_tag "sleazy.png" %> Sounds </h2>
   </header>
     <!--  <form id="searchingForm" ng-submit="activateSearch()">
      <input type="text" class="search" ng-model="toSearch">
      </form> -->
        

        <div id="wrap">
        <form id="searchingForm" ng-submit="activateSearch()">
        <input class="search" type="text" name="track" placeholder="what track u wnt?" ng-model="toSearchTemp"><input id="search_submit" value="Rechercher" type="submit">
        </form>
        
</div>
  <div id="wrapper" ng-repeat="song in list">
    <div>
    <a ng-click="test(song)">

    <img ng-src="{{song.artwork_url}}" width="450" height="450">
    <a ng-href="{{song.permalink_url}}">{{song.title}}</a>
    </a>
    <!-- <button id="stop" ng-click="stopSound(song)">Stop<botton> -->
   </div>
		<!-- <img ng-src="{{song.artwork_url}}"> -->
  </div>
    </center>
  </body>

</html>

