<html ng-app="app">
  <head>
  <link rel="shotcut icon" type="image/ico" href="../../assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css" />
  <title> sleazy sounds </title>
  </head>
  <body ng-controller="test">
  {{test}}
<script> 
		angular.module('app').controller('test', function($scope)
			{ console.log($scope); $scope.test = 'HELLO'});
</script>
      </body>
</html>