<html lang-"en" ng-app="app">
<head>

</head>
<body>
<% if @tracks %>
  <% @tracks.each do |track| %>
    <li> 
    <a href="<%= track.object %>"> <%=track.title %> </a>
    <%= link_to "Delete", track_path(track), method: :delete %>
    </li>
  <% end %>
<% end %>

</body>
</html>
